:root {
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
  --yellow: #fecf00;
  --grey: rgb(90, 90, 90);
}
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
}
body {
  height: 100%;
  background-color: var(--grey);
}
#root {
  height: 100%;
}
select {
  outline: none;
  border: none;
  width: 15rem;
  font-size: 1.7rem;
  border-radius: 10px;
}
select:focus > option:checked{
  background-color: var(--yellow);
}
